<section class="download" id="download">
  <h2>DOWNLOAD</h2>
  <div class="container h-scroll">
    <table class="download-table">
      <thead>
        <tr>
          <th><img src='images/CernVM-filled.png' alt='CernVM-logo'></th>
          <th>
            <p>[Bootloader 2021.03]</p>
            <p class='version-number'>4.5</p>
            <p><a href="https://cernvm.readthedocs.io/en/stable/cpt-releasenotes.html">Release Notes</a></p>
          </th>
          <th>
            <p>[Bootloader 2021.03]</p>
            <p class='version-number'>3.7.2</p>
            <p><a href="https://cernvm.readthedocs.io/en/stable/cpt-releasenotes.html">Release Notes</a></p>
          </th>
          <th><img src='images/question-mark.png' alt='How-to-start'></th>
        </tr>
      </thead>
        <tr>
          <td><a href="https://virtualbox.org"><img alt="vbox" src='images/vendor-logos/virtualbox-logo.png'></a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.iso">ISO</a><br><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.ova">OVA</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.iso">ISO</a><br><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.ova">OVA</a></td>
          <td><a href="https://cernvm.readthedocs.io/en/stable/cpt-howto.html#virtualbox">How to Start</a></td>
        </tr>
        <tr>
          <td><img alt="vmware" src='images/vendor-logos/vmware-logo.png'></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.iso">ISO</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.iso">ISO</a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><img alt="hyper-v" src='images/vendor-logos/hyper-v-logo.png'></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.iso">ISO</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.iso">ISO</a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><img alt="xen" src='images/vendor-logos/xen-logo.png'></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.hvm">Raw (HVM)</a><br><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.fat">Filesystem (PVM)</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.hvm">Raw (HVM)</a><br><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.fat">Filesystem&nbsp;(PVM)</a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><img alt="kvm" src='images/vendor-logos/kvm-logo.png'></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.hdd">Raw</a><br><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.iso">ISO</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.hdd">Raw</a><br><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.iso">ISO</a></td>
          <td><a href="https://cernvm.readthedocs.io/en/stable/cpt-howto.html#kvm">How to Start</a></td>
        </tr>
        <tr>
          <td><img alt="vagrant" src='images/vendor-logos/vagrant-logo.png'></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.box">Box</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.box">Box</a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><img alt="openstack" src='images/vendor-logos/openstack-logo.png'></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.hdd">Raw</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.hdd">Raw</a></td>
          <td><a href="https://cernvm.readthedocs.io/en/stable/cpt-howto.html#openstack">How to Start</a></td>
        </tr>
        <tr>
          <td><img alt="aws" src='images/vendor-logos/aws-logo.png'></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.hvm">Raw (HVM)</a><br><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.fat">Filesystem&nbsp;(PVM)</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.hvm">Raw (HVM)</a><br><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.fat">Filesystem&nbsp;(PVM)</a></td>
          <td><a href="https://cernvm.readthedocs.io/en/stable/cpt-howto.html#amazon-ec2">How to Start</a></td>
        </tr>
        <tr>
          <td><img alt="azure" src='images/vendor-logos/azure-logo.png'></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.vhd">VHD</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.vhd">VHD</a></td>
          <td><a href="https://cernvm.readthedocs.io/en/stable/cpt-howto.html#microsoft-azure">How to Start</a></td>
        </tr>
        <tr>
          <td><img alt="gce" src='images/vendor-logos/gce-logo.png'></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm4-micro-2021.05-1.tar.gz">Tarball</a></td>
          <td><a href="http://cernvm.cern.ch/releases/production/cernvm3-micro-2021.05-1.tar.gz">Tarball</a></td>
          <td><a href="https://cernvm.readthedocs.io/en/stable/cpt-howto.html#google-compute-engine">How to Start</a></td>
        </tr>
        <tr>
          <td><img alt="docker" src='images/vendor-logos/docker-logo.png'></td>
          <td></td>
          <td><a href="https://cernvm.cern.ch/releases/production/cvm-docker.2020.04-1.cernvm.x86_64.tar">Tarball</a></td>
          <td><a href="https://cernvm.readthedocs.io/en/stable/cpt-howto.html#cernvm-as-a-docker-container">How to Start</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</section>