<footer>
  <section class="news">
    <h2>NEWS</h2>
    <div class="container">
      <div class="slider">
        <div class="slide">
          <div class="top">
            <a href='' class="title">CernVM-FS 2.7.1</a>
            <p class="date">05/03/2020</p>
          </div>
          <p>CernVM-FS 2.7.1 is a bugfix release. Please find the full release notes in our technical documentation.</p>
        </div>
        <div class="slide">
          <div class="top">
            <a href='' class="title">CernVM Users Workshop 2019</a>
            <p class="date">15/02/2020</p>
          </div>
          <p>It is our pleasure to announce the CernVM Users Workshop 2019, which will take place from 3 June to 5 June 2019 at CERN...</p>
        </div>
        <div class="slide">
          <div class="top">
            <a href='' class="title">CernVM-FS 2.7.1</a>
            <p class="date">05/01/2020</p>
          </div>
          <p>CernVM-FS 2.7.1 is a bugfix release. Please find the full release notes in our technical documentation.</p>
        </div>
        <div class="slide">
          <div class="top">
            <a href='' class="title">CernVM Users Workshop 2019</a>
            <p class="date">15/02/2020</p>
          </div>
          <p>It is our pleasure to announce the CernVM Users Workshop 2019, which will take place from 3 June to 5 June 2019 at CERN...</p>
        </div>
      </div>
      <div class='btn btn--outline'><a href="">Go to News
      </a></div>
    </div>
  </section>
  <section class="support">
    <h2>SUPPORT</h2>
      <div class="container">
        <div class="link icon-bug-report">
          <p>JIRA Bug Tracker:</p>
          <a href="https://sft.its.cern.ch/jira/projects/CVM">sft.its.cern.ch/jira/projects/CVM</a>
        </div>
        <div class="link icon-email-outline">
          <p>Early Testing of New Releases:</p>
          <a href="mailto:cvmfs-testing@cern.ch">cvmfs-testing@cern.ch</a>
        </div>
        <div class="link icon-email-at">
          <p>Discussion on CernVM:</p>
          <a href="mailto:cernvm-talk@cern.ch">cernvm-talk@cern.ch</a>

        </div>
        <div class="link icon-email-at">
          <p>Disscussion on CernVM-FS:</p>
          <a href="mailto:cvmfs-talk@cern.ch">cvmfs-talk@cern.ch</a>
        </div>
        <div class="text">
          <p>
            The mailing lists are managed through CERN egroups and open for self registration.  Users without a CERN account can register a lightweight account to login to the egroups page.
          </p>
          <p>
            For CernVM-FS bug reports, please attach a "bugreport tarball", which is created with cvmfs_config bugreport.
          </p>
        </div>
      </div>
  </section>
</footer> 