<nav class='menu transparent'>
  <div class='menu--inner'>
    <a href='index.html' class='logo'><img src='images/cernvm-logo.png' alt="CernVM Website Logo"></a>
    <ul>
      <li><a class='menu-link' href='#'>Virtual Machine</a></li>
      <li><a class='menu-link' href='#'>CernVM Online</a></li>
      <li><a class='menu-link' href='#'>File System</a></li>
      <li><a class='menu-link' href='#'>Our Team</a></li>
      <li><a class='menu-link' href='#'>Support</a></li>
    </ul>
  </div>
</nav>