<nav class='menu transparent'>
  <div class='menu--inner'>
    <a href='index.html' class='logo'><img src='images/cernvm-logo.png' alt="CernVM Website Logo"></a>
    <ul>
      <li><a class='menu-link dropdown' href="index.html">Virtual Machine</a>
        <ul class="dropdown-content">
          <li><a href="#download">Download</a></li>
          <li><a href="https://cernvm.readthedocs.io/en/stable/cpt-releasenotes.html">Release Notes</a></li>
          <li><a href="https://cernvm.readthedocs.io/en/stable/cpt-howto.html">How to run</a></li>
          <li><a href="https://cernvm.readthedocs.io/en/stable/cpt-context.html">Contextualization</a></li>
        </ul>
      </li>
      <li><a class='menu-link' href='https://cernvm-online.cern.ch'>CernVM Online</a></li>
      <li><a class='menu-link' href='https://cernvm.cern.ch/fs'>File System</a></li>
      <li><a class='menu-link' href='https://cernvm.cern.ch/team'>Our Team</a></li>
      <li><a class='menu-link' href='#support'>Support</a></li>
    </ul>
  </div>
</nav>